.head {
	font-size: .75rem;

	&__green {
		background-color: $strong-green;
	}

}

.head__list {
	border-right: 0.01rem solid $ghost-white;
	word-spacing: 0.15rem;
}

.head__list:last-child{
	border-right: none;
}

.head__link {
		
	&--color {
			color: $ghost-white;
	}
}

.head__i {
	margin-right: 0.3rem;
}
